body{
/*	background-image: url(https://images.unsplash.com/photo-1501959915551-4e8d30928317?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=afc5d8f90598eafe4667e19d3d3db791&auto=format&fit=crop&w=800&q=60);*/
/*	background-image: url(https://images.unsplash.com/photo-1483918793747-5adbf82956c4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f6620ad50aed16b01a10288f4bad3464&auto=format&fit=crop&w=668&q=80);*/
	background-image: url(https://images.unsplash.com/photo-1493770348161-369560ae357d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=495705ce4fffc406c4c9fc09b13a6db9&auto=format&fit=crop&w=800&q=60);
	background-size: cover;
	background-position: center;
	color: white;
}

html{
	height:100%;
}



#content{
	text-align: center;
	padding-top: 20%;
}

h1{
	font-size: 5em;
	font-weight: 700;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 14px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}

hr{
	width: 40%;
	/*creat some shadow*/
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

